body{
/*   margin-bottom: 60px; */
}
body { 
    background-image: url('https://www.desktopbackground.org/download/1920x1080/2013/01/11/513108_superheroes-vs-villains-antiheroes-marvel-dc-comics_1920x1080_h.jpg');
/*     background-repeat: repeat;  */
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}
h1{
/*   color:white; */
  font-family:League-Gothic;
  font-size: 350%;
}
p{
/*   color:white; */
  font-family:League-Gothic;
  font-style:italic;
  font-size: 250%;
}
img{
  padding: 35%;
}
spam{
  
}
.fighters{ 
  font-weight: normal; 
  font-style: normal; 
  font-size: 200%
}
.fights{
  font-family: '8BITWONDERNominal';
}
.blockP1{
  background-color:#05FBAF;
  border-color: black;
  border-style: solid;
  color: black;
  opacity:.95;
  padding:1%;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 3%;
}
.blockP2{
  background-color:#FF53CD;
  opacity:.99;
  width:auto;
  padding:2%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 10%;
  font-size: 110%;
  height:auto;
  border-color: black;
  border-style: solid;
  color: yellow;
}
.paddingTop{
  padding-top:2%;
  padding-bottom:2%;
}
.paddingTopContact{
  padding-top:10%;
}
.paddingBottom{
/*   padding-top:2%; */
  padding-bottom:2%;
}
.btn-default{
  padding-top:2%;
  padding-bottom:2%;
  margin-bottom:25px;
  font-family:League-Gothic;
  font-size: 200%;
  background-color: #FCFCFC;
  border-color: black;
  border-style: solid;
  opacity:.95;
  padding:20px; 
  width:auto;
  margin-right:auto;
  margin-left:auto;
  border-radius: 7%;

}
